Source: pihole-panel
Section: devel
Priority: optional
Maintainer: Dale Osm <webmaster@daleosm.com>
XSBC-Original-Maintainer: Dale Osm <webmaster@daleosm.com>
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 7)
Homepage: https://github.com/daleosm/PiHole-Panel
Package: pihole-panel
Version: 2.0
Architecture: amd64, armhf
Depends: python3-gi
Description: PiHole-Panel is a control panel and real-time statistics for the Pi-hole Adblocker.
